#avatars {
  top: 13px;
}

.sitter {
  width: 90px;
  height: 90px;
  background-color: transparent;

  button, label {
    top: 66px;
    left: 34px;
    width: 22px;
    height: 22px;
    color: gray;
    font-size: 14px;
    text-align: center;
  }

  button {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 -1 .5 gray;
  }

  image-view {
    width: 70px;
    height: 70px;
    left: 10px;
    top: 10px;
    opacity: 1;
  }
}

#add_sitters {
  top: 340px;
  width: 320px;
  height: 45px;
  color: #5481C9;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

#add_sitters_caption {
  top: 350px;
  left: 10px;
  width: 320px;
  height: 45px;
  color: #969696;
  font-size: 12px;
  text-align: center;
}

.big_button {
  top: 390px;
  width: 152px;
  height: 45px;
  border-radius: 4px;

   label {
    left: 0;
    top: -9px;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 13px;
    text-align: center;
  }

   .caption {
    top: 4px;
    color: white;
    font-size: 11px;
  }
}

button#recommended {
  left: 6px;
  background-color: #5582C3;
}

button#invite {
  left: 163px;
  background-color: #A6A6A6;
}
