#sitters {
  background-color: #F9F9F9;
  font-family: "Helvetica Neue"
}

#time_selector {
  top: 20px;
  width: 320px;
  height: 120px;
  background-color: #5582C3;
}
#time_selector label {
  color: white;
  text-align: center;
}
#time_selector .date {
  width: 320px;
  height: 20px;
  top: 5px;
  font-size: 12px;
}
#time_selector .day_of_week {
  width: 44px;
  height: 34px;
  top: 30px;
  font-size: 18px;
}
/* .day_of_week.overlay, but csslint doesn't like this */
#time_selector .overlay {
  color: #5481C9;
}
#time_selector .selected_day {
  width: 34px;
  height: 34px;
}
#time_selector button.selected_day {
  left: 8px;
  top: 30px;
  background-color: white;
  border-radius: 17px;
  box-shadow: 0 1 1 #226;
}

#time_selector .hour_range {
  left: 12px;
  top: 75px;
  width: 195px;
  height: 35px;
  color: #5481C9;
}
#time_selector button.hour_range {
  background-color: white;
  border-radius: 18px;
}

#time_selector .hour_blob {
  top: 70px;
  width: 40px;
  height: 40px;
}
#time_selector .hour_blob .hour {
  top: 8px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  text-align: center;
}
#time_selector .hour_blob .am_pm {
  top: 20px;
  width: 20px;
  height: 20px;
  font-size: 9px;
  text-align: center;
}
#time_selector .hour_blob .half_past {
  left: 26px;
  top: 13px;
  width: 20px;
  height: 20px;
  color: #A8C1E5;
  font-size: 13px;
  text-align: right;
}

#avatars {
  top: 153px;
}

.sitter {
  width: 90px;
  height: 90px;
  background-color: transparent;
}

.sitter button, .sitter label {
  top: 66px;
  left: 34px;
  width: 22px;
  height: 22px;
  color: gray;
  font-size: 14px;
  text-align: center;
}

.sitter button {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 -1 .5 gray;
}

.sitter image-view {
  width: 70px;
  height: 70px;
  left: 10px;
  top: 10px;
  opacity: 1;
}

#add_sitters {
  top: 405px;
  width: 320px;
  height: 45px;
  color: #5481C9;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

#add_sitters_caption {
  top: 416px;
  left: 10px;
  width: 320px;
  height: 45px;
  color: #969696;
  font-size: 12px;
  text-align: center;
}

button {
  top: 450px;
  width: 152px;
  height: 45px;
  border-radius: 3px;
}

button#recommended {
  left: 6px;
  background-color: #5582C3;
}

button#invite {
  left: 163px;
  background-color: #A6A6A6;
}

button label {
  left: 0;
  top: -9px;
  width: 150px;
  height: 50px;
  color: white;
  font-size: 13px;
  text-align: center;
}

button .caption {
  top: 4px;
  color: white;
  font-size: 11px;
}

#sitter_profile {
  background-color: #F9F9F9;
  font-family: "AmericanTypewriter";
}

#header {
  top: 0px;
  width: 320px;
  height: 55px;
  background-color: #6A9CE5;
  /*background-color: linear-gradient(#6A9CE5, #4E7EC2);*/
}
#footer {
  top: 585px;
  width: 320px;
  height: 55px;
  background-color: #6A9CD0;
  text-align: center;
  color: white;
  font-size: 20px;
}
#header .date {
  top: 6px; left: 0; width: 320px; height: 15px;
  color: white;
  text-align: center;
  font-size: 12px;
}
#header .hours {
  top: 25px; left: 0; width: 320px; height: 15px;
  text-align: center;
  color: white;
  font-size: 17px;
}
.section {
  left: 16px;
  width: 320px;
  /*height: 80px;*/
  /*border-top: 1px solid gray;*/
}
.section .title { width: 320px; height: 20px; color: #4C7EBF; top: 10px; left:0; font-size: 14px; }
.section .description { width: 320px; height: 20px; top: 36px; left:0; font-size: 17px; background-color: transparent; }
#name { width: 320px; height: 20px; top: 72px; left: 74px; font-size:20px; }
#description { width: 320px; height: 60px; top: 105px; left: 16px; font-size: 12px; background-color: transparent; }
#age { top: 140px; }
#experience { top: 210px; }
#endorsed_by { top: 270px; }
#used_by { top: 365; }
#background_check { top: 460px; }
#location { top: 523px; }
#about_me { top: 573px; }
#smoker { top: 629px; }
#transport { top: 709px; }
