body {
  background: blue;
  font-family: "Helvetica Neue", "HelveticaNeue";
  padding: 0;
  margin: 0;
}

html {
  background-color: #F9F9F9;
  font-family: "Helvetica Neue";
  padding: 0;
  margin: 15px;
}

#sitter_image {
  float: left;
  margin-right: 10px;
  // background: url('../sitters/kristen.png');
  // background: gray;
  background-size: 54px 54px;
  width: 54px;
  height: 54px;
  -webkit-border-radius: 27px;
}

h1 {
  font-size: 20px;
  padding-top: 6px;
  padding-bottom: 35px;
  // background: linear-gradient(90deg, rgba(0,0,0,0), #F9F9F9);
}

#stars {
  position: absolute;
  left: 77px;
  top: 45px;

  .star {
    width: 19px;
    height: 18px;
    display: inline-block;
    background: url('../images/star.png');
    background-size: 19px 18px;
  }
}

#video-thumbnail {
  position: absolute;
  width: 167px;
  height: 111px;
  left: 136px;
  top: 110px;
  background: red;
  background: url('../images/kristen-video-thumbnail.png');
  background-size: 167px 111px;
}

#chat {
  position: absolute;
  left: 230px;
  top: 22px;
  width: 27px;
  height: 27px;
  background: url('../images/chat.png');
  background-size: 27px 27px;
}

#phone {
  position: absolute;
  left: 268px;
  top: 22px;
  width: 27px;
  height: 27px;
  background: url('../images/phone.png');
  background-size: 27px 27px;
}

#description {
  font-size: 12px;
}

section {
  border-top: 1px solid #ddd;
  margin-top: 14px;
  padding-top: 8px;

  h2 { color: #4C7EBF; font-size: 14px; font-weight: normal; margin-bottom: 10px; }
  p { font-size: 14px; font-weight: normal; line-height: 1.45; }
}

.endorse {
  display: inline;
  width: 40px;
  height: 40px;
  background: blue;
}

#used-by, #endorsements {
  img {
    width: 50px;
    height: 50px;
    margin-right: 6px;
    -webkit-border-radius: 25px;
  }
}
