# You need this to deploy to a local device.
IOS_APP_DEVELOPMENT_PROFILE_ID=...

# You need these to build a production version and upload it to TestFlight:
TF_API_TOKEN=...
TF_TEAM_TOKEN=...
TF_APP_TOKEN=...

IOS_APP_PRODUCTION_PROFILE_ID=...
FB_APP_ID=...
