.repl_history
build
tags
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.idea
.dat*.*
vendor/pods
node_modules
resources/Settings.bundle
.env

# Build caches
.sass-cache

# Generated
resources/styles/sitter_details.css
resources/sitter_details.html

# Generated
*.pch
*.bridgesupport
*.o
*.a
.yardoc
