# OS X
.DS_Store

# IDEs
.idea

# Misc
tags
nbproject
*.sw[po]
.eprj
.dat*.*
node_modules/

# Workspace
.env

# Editors
#*#
*~

# Build caches
.redcar/
.sass-cache/
.yardoc/

# Generated
resources/styles/sitter_details.css
resources/sitter_details.html

# Generated
build/
*.pch

# Ruby Motion
*.bridgesupport
*.o
*.a
.repl_history
vendor/pods/

resources/*.nib
resources/*.momd
resources/*.storyboardc
resources/Settings.bundle

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcworkspace

ib.xcodeproj/project.pbxproj

# CocoaPods
Pods
.bundle
