!!!
html
  head
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    link(rel="stylesheet", href="styles/sitter_details.css")
  body
    h1 Kristen Morey
    #sitter_image
    #stars
      .star
      .star
      .star
      .star
      .star
    #description Susie Morey’s 14-year-old sister. Currently a freshman at Palo Alto High School

    section
      h2 Age
      p 14 years
    end

    section
      h2 Experience
      p 2 years
    end

    section
      h2 Endorsed By
      .endorse
      .endorse
      .endorse
    end

    section
      h2 Used By
      .endorse
      .endorse
      .endorse
      .endorse
      .endorse
    end

    section
      h2 Background Check
      p Cleared
    end

    section
      h2 Location
      p Palo Alto
    end

    section
      h2 About Me
      p I grew up in Palo Alto, and am now attending Palo Alto High School. Throughout school and during the last two summers, I babysat for several families in the Bay area for children of all ages. I have experience with babies, potty training, twins, teenage girls… you name the age or type, and there's a chance I've worked with them.
    end

    section
      h2 Smoker
      p No
    end

    section
      h2 Transport
      p None
    end
  end
