!!!
html
  head
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    link(rel="stylesheet", href="styles/sitter_details.css")
  body
    h1 Kristen Morey
    #sitter_image
    #stars
      .star
      .star
      .star
      .star
      .star
    #description Susie Morey’s 14-year-old sister. Currently a freshman at Palo Alto High School

    #chat
    #phone
    #video-thumbnail

    section
      h2 Age
      p 14 years
    end

    section
      h2 Experience
      p 2 years
    end

    section#endorsements
      h2 Endorsed By
      img(src="images/endorsed-by-1.png")
      img(src="images/endorsed-by-2.png")
      img(src="images/endorsed-by-3.png")
    end

    section#used-by
      h2 Used By
      img(src="images/used-by-1.png")
      img(src="images/used-by-2.png")
      img(src="images/used-by-3.png")
      img(src="images/used-by-4.png")
      img(src="images/used-by-5.png")
    end

    section
      h2 Background Check
      p Cleared
    end

    section
      h2 Location
      p Palo Alto
    end

    section
      h2 About Me
      p I grew up in Palo Alto, and am now attending Palo Alto High School. Throughout school and during the last two summers, I babysat for several families in the Bay area for children of all ages. I have experience with babies, potty training, twins, teenage girls… you name the age or type, and there's a chance I've worked with them.
    end

    section
      h2 Smoker
      p No
    end

    section
      h2 Transport
      p None
    end

    section
      h2 Special Experience
      p None
    end

    section
      h2 General Experience
      ul
        li Infants: 2 years
        li Toddlers: 2 years
        li Preschoolers: 2 years
        li School Age: 2 years
        li Pre Teens: 0 years
        li Teenagers: 0 years
    end
  end
